* {
	margin: 0px;
	padding: 0px;
	font-family: Viga;
}

body {
	
	background: #2F4F4F;
	height: 637px;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: fixed;
	background: rgba(0,0,0,0.4);
	padding: 25px;
	border-radius: 15px;
	box-shadow: 0 0 15px;
}

.main h2 {
	text-align: center;
	color: white;
	text-transform: uppercase;
}

.button {
	width: 50px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
	cursor: pointer;
	border: none;
	background: #607d8b;
	color: white;
	border-radius: 25px;
	
}

.btn-green {
	background:#C0C0C0;
	color: #2F4F4F;
}

.textarea {
	width: 204px;
	margin: 4px;
	font-size: 20px;
	padding: 10px;
	border: none;
	color: #556B2F;
	border-radius: 25px;
	text-align: right;
}